body {
    background-image: url(media/bak.png);
    padding-top: 100px;
    padding-left: 300px;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

h1 {
    padding-bottom: 250px;
    font-family: 'Trebuchet MS';
    height: 100%;
    flex: none;
    text-align: center;
}

h2 {
    padding-top: 250px;
    font-family: 'Trebuchet MS';
    height: 100%;
    flex: none;
    text-align: center;
}

div2 {
    flex: none;
    padding-left: 300px;
    padding-top: 750px;
}
