
body {
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    overflow: hidden;
}

div1 {
    position: absolute;
    height: 10%;
    right: 200px;
}

div2 {
    font-family: 'Arial, sans-serif';
    font-size: 20px;
    padding-left: 200px;
}

.wrapper {
    background-color: green;
    border: solid 4px black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 910px;
    top: 835px;
    z-index: -1;
}

a {
    font-family: 'Colonna MT';
    font-size: initial;
    color: darkred;
    font-size: 40px;
    position: absolute;
    height: 85%;
}

h1 {
    font-family: 'toxigenesis bd';
    position: absolute;
    height: 100%;
}

@font-face {
    font-family: 'toxigenesis bd';
    src: url('toxigenesis bd.ttf') format('truetype');
}
